<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container-fluid">
    <h1 class="display-4">My Udemy</h1>
    <p class="lead">A clone site of Udemy</p>
  </div>
</div>

<div class="card-deck">
{{>cards}}
  </div>