<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container-fluid">
    <h1 class="display-4">My Udemy</h1>
    <p class="lead">A clone site of Udemy</p>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    {{#each courses}}
    <div class="card h-100">
      <img src="https://source.unsplash.com/featured/?technology/200x200" class="card-img-top" alt="random technology photos">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{tags}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>